<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>{{ NEWS }}</title>
  {% else %}
  {% import 'macros.html' as macro %}
  <title>Welcome to the best News Review Website</title>
  {% endif %}
</head>
<body>
  {% extends 'base.html' %}
  <!--styles block-->

  {% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/news.css')}}">
  {% endblock %}

  <!--content block-->
  {% block content %}
  <div class="container">

    <!--poster background-->
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath"
        style="background: url({{news.poster}}) no-repeat center center">
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-details">
        <h3>{{ news.title }}</h3>

        <p class="overview">{{ news.overview }}</p>
        <p class="ratings"><b>{{ news.vote_average }}</b> - <i>{{ news.vote_count }}</i></p>
        <a class="ratings" href="/news/reviews/news/{{news.id}}">Write a news review</a>
      </div>
    </div>
  </div>
  <div class="row">

    <h1>REVIEWS</h1>
    <hr>

    {% if reviews %}
        {{macro.displayReviews(reviews)}}

        % else %
        <h3 class="text-center">This news section has no reviews</h3>

        <a class="btn btn-danger btn-lg text-center" href="/news/review/{{news.id}}">write a new review</a>
        % endif%
        {% endblock %}
  </div>

</body>
</html>